.page-header {
    text-align: center;
    /*background-color: #081C75;*/
}

.logo {
    width: 40%;
    opacity: .6;
}

body {
    background: url(../images/background2.jpg) no-repeat fixed;
    background-size: 100% 100%;
    background-color: #000000;
    font: #ffffff;
    text-align: center;
}


#current-word {
    font-size: 2em;
}

li {
    padding: 0px 0px 15px 0px;
}

.content {
    padding: 20px;
}

.footer {
    background: transparent;
}

.page-header {
    border-bottom: 4px solid #ba893d;
}

.navbar-default {
    border: none;
}

#foot {
    border-top: 4px solid #ba893d;
}
.copyright {
    font-size: 0.75em;
}